.ipynb_checkpoints
*.log
*.swp
.DS_Store
__MACOSX
__pycache__
03-wordemb/*.txt
03-wordemb/*.png
04-efficiency/*.txt
04-efficiency/*.png
09-attention/*.png

*.pyc

.idea/
*.iml
*.pt
03-wordemb-pytorch/*.txt
03-wordemb-pytorch/*.png

04-efficiency-pytorch/*.txt
04-efficiency-pytorch/*.png
09-attention-pytorch/*.png